<div class="dropdown">
      <button class="btn dropdown-toggle admin-button" type="button" data-toggle="dropdown">Admin Tools
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
         <li><%= link_to "Add a Testimonial", testimonials_path %></li>
        <li><%= link_to "Add a Portfolio", photo_uploads_path %></li>
        <li><%= link_to "Create a Blog", blogs_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
    </ul>
</div>
