<footer>
    <hr>
    <div id="social-icons">
        <span><%= link_to "", "https://www.facebook.com/A-Nepper-Photography-157371547753637/", class: "fa fa-facebook" %> </span>
        <span><%= link_to "", "https://www.instagram.com/anepphotography/?hl=en", class: "fa fa-instagram" %> </span>
        <span><%= link_to "", "https://twitter.com/anepphotography", class: "fa fa-twitter" %> </span>
    </div>
</footer>
