<div class="container">
    <div class="row">
        <div class="col-md-6 about-pic">
            <%= image_tag("lyss") %>
        </div>
        <div class="col-md-6 about-blurb">
            <h1>About Me</h1>
            <p>I am a photographer who loves photography and to meet people. I believe in capturing a moment in time that you cannot replace, and can always remember for a lifetime. With photography, you should have quality portraits, and a positive experience. </p>

            <p>I have been photographing for 8 years now, and am always looking to improve my skills as a photographer. </p>

        <p>If you have any questions, please do not hesitate to contact me. I look forward to hearing from you!</p>
        </div>
    </div>
</div>
