<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-pic">
            <%= image_tag("lyss") %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-blurb">
            <h1>About Me</h1>
            <div class="about-par">
                <p>As a professional photographer of over 8 years, I have found that making connections with the people I work with is what makes this job so incredible. I believe that when people allow me to capture their precious moments in time, they are giving me a tremendous gift. That being said, I think each person who works with me deserves high quality portraits and a positive experience, and I make it a point to give this kind of service in every photography scenario. </p>
            </div>
            <div class="about-par">
                <p>One of the amazing things about this career is that I am always driven to improve and find new and exciting ideas that help me to illustrate each individual's honest story. With each image I take, I find a deeper passion for capturing the heart of each moment. </p>
            </div>

            <div class="about-par">
                <p>If you have any questions, please do not hesitate to contact me. I look forward to hearing from you!</p>
            </div>
        </div>
    </div>
</div>
