    <div class="container">
    <h1 class="page-header">Blogs</h1>
        <div class="blog-home-container card">
            <% @blog.each do |blog| %>
            <h2>
                <%= blog.title %>
            </h2>
            <hr>
                <%= image_tag(blog.images.first, class: "blog-home-img image-responsive") %>

             <hr>
             <%= link_to "Read More", blog, class: "btn btn-primary blog-btn" %>

             <hr class="blog-end">
            <% end %>
        </div>
    </div>
