<div class="container">
    <h1>Client Testimonials</h1>
    <div class="testimonial">
        <p>We have worked with Alyssa for 6 years now and we won't go to anyone else! She is our family photographer and she has been there for child births, anniversaries and more. She is amazing. The quality of her work is superb!</p>
    </div>
    <div class="testimonial">
        <p>We have worked with Alyssa for 6 years now and we won't go to anyone else! She is our family photographer and she has been there for child births, anniversaries and more. She is amazing. The quality of her work is superb!</p>
    </div>

</div>
