<div class="container">
    <h1 id=testimonial-title>Client Testimonials</h1>
    <table>
        <tbody>
            <% @testimonials.each do |testimonial| %>
        <tr>
          <td class="testimonial-post"><%= testimonial.posts %>hr</td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
