<div class="container">
    <div class="contact-card">
        <h1>Would you like to work together?</h1>
        <div class="contact-card-info">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-blurb">

                    <p>Thank you for your interest in my work!</p>

                    <p>I would love to hear from you, and I am more than happy to answer an questions you might have.</p>

                    <p>Please feel free to contact me either by phone or email!</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-blurb">
                    <div class="contact-card-text"><h3>Location</h3>

                        <p>Racine, WI</p>
                    </div>

                    <div class="contact-card-text"><h3>Phone</h3>

                        <p>(262)308-4748</p>
                    </div>

                    <div class="contact-card-text"><h3>Email</h3>

                        <p><a class="email-link" href="mailto:summerbreezes@gmail.com?subject=WebInquiry" "email me">Email me</a> </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-blurb">
                    <%= image_tag("sports-cam", class: "contact-blurb-img") %>
                </div>

            </div>
        </div>
    </div>
</div>
