<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card", style="width: 10rem;">
              <%= image_tag("couple", class: "card-img-top")%>
              <div class="card-block">
                <h4 class="card-title">Wedding Photography</h4>
                <a><%= link_to "Click Here", pages_wedding_path, class: "btn btn-primary" %> </a>
              </div>
            </div>
        </div>
    </div>
</div>
