<div class="container">
    <h1 id="port-title">Portfolio</h1>
    <% @port.each do |photo_upload| %>
    <div class="card animated fadeInLeft">
        <%= image_tag(photo_upload.images.first, class: "card-img-top img responsive")%>
        <div class="card-block">
            <a><%= link_to "#{ photo_upload.portfolio_title}", photo_upload, class: "btn btn-primary" %> </a>
        </div>
    </div>
    <% end %>
</div>
