<div class="container pricing-cont">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-block">
            <h1>Weddings</h1>
            <%= image_tag('wed', class: "pricing-img") %>
            <p>Wedding packages begin at $2400 for 7 hours of coverage. All packages include your high-resolution digital image files.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-block">
            <h1>Portraits</h1>
            <%= image_tag('artist', class: "pricing-img") %>
            <p>The portrait session fee is $250 with products beginning at $50.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-block">
            <h1>Other</h1>
            <%= image_tag('splash', class: "pricing-img") %>
            <p>For miscellaneous projects, please contact me for pricing!</p>
        </div>
    </div>
</div>
<div class="container pricing-cont">
    <div id="further-info">
        <h4>For further information, please contact me here.</h4>
    </div>
</div>
