@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
    font-family: "Oh Wonder Regular";
    src: url('/assets/Ohwonder-Regular.otf');
}
@font-face {
    font-family: "Beautiful Creatures";
    src: url('/assets/Beautiful_Creatures.ttf');
}
@font-face {
    font-family: "Audrey-Normal";
    src: url('/assets/Audrey-Normal.otf');
}


img {
    max-height: 600px;
}

.about-pic {
    text-align: center;
}
.about-blurb {
    font-family: "Audrey-Normal";
}
.about-blurb p {
    font-size: 1.5em;
}
.about-par {
    margin-bottom: 20px;
}
