@import "bootstrap-sprockets";
@import "bootstrap";


img {
    width: 100%;
}

.about-pic {
    margin-top: 20px;
    text-align: center;
}
.about-blurb {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}
.about-blurb p {
    font-size: 1.5em;
}
.about-blurb h1 {
    font-family: "Raleway";
    font-weight: 100;
}
.about-par {
    margin-bottom: 20px;
}
