@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: "Audrey-Normal";
    src: url('/assets/Audrey-Normal.otf');
}

.card img {
    max-width: 318px;
    border-radius: 12px;
}

.card-title {
    width: 318px;
}
