#further-info {
    text-align: center;
}
.pricing-cont {
    border-radius: 12px;
    margin-bottom: 10px;
}
.pricing-img {
    max-height: 400px;
    width: auto;
    border-radius: 12px;
    margin-bottom: 16px;
}

.pricing-block {
    text-align: center;
}

.pricing-block p {
    font-size: 1.2em;
}
