.portfolio-heading {
    text-align: center;
}

.box-row > .box-column {
  padding: 0 8px;
}

.box-row:after {
  content: "";
  display: table;
  clear: both;
}

.box-column {
  float: left;
  width: 25%;
  margin: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content1 {
  position: relative;
  background-color: rgb(251, 251, 251);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1100px;
}
.modal-box-column {
    max-width: 105px;
    display: inline-block;
}
/* The Close Button */
.box-close {
  font-family: sans-serif;
  color: rgb(193, 193, 193);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
}

.box-close:hover,
.box-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.box-mySlides {
  height: 700px;
  max-width: 1100px;
}

.inner-box {
    height: 625px;
    max-width: 975px;
    margin: 0 auto;
}

.portfolio-show-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/* Next & previous buttons */
.box-prev,
.box-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(193, 193, 193);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.box-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.box-prev:hover,
.box-next:hover {
  background-color: rgba(185, 185, 184, 0.7);
  font-size: 40px;
}


#modal-content-container {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 18%;
    margin-right: 18%;
}


.active,
.box-demo:hover {
  opacity: 1;
}

.portfolio-show-img:hover-shadow {
  transition: 0.3s
}
.box-hover-shadow {
    max-width: 300px;
    max-height: 200px;
    margin: 12px;
}

.box-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.portfolio-card {
    padding: 20px;
}

.port-title {
    text-align: center;
    font-size: 2em;
}

.back-button {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Number text (1/3 etc) */
.box-numbertext {
 text-align: left;
 height: 35px;
 padding-left: 10px;
}
