<div class="container">
    <div class="card testimonial-card">
        <h1>New Testimonial Upload</h1>

        <%= render 'form' %>

        <%= link_to 'Back', testimonials_path %>
    </div>
</div>
